<%= render "layouts/messages" %>

<% if @stock %>
  <div>
    <h3>Stock Info:</h3>
    <div>Name: <%= @stock.ticker %></div>
    <div>Company: <%= @stock.name %></div>
    <div>Price: <%= @stock.last_price %></div>
    <%= link_to 'Add this stock', user_stocks_path(ticker: @stock.ticker), method: :post %>
  </div>
<% end %>
